{% extends "base_books.html" %}

{% block content %}
<h1>{{ object.title }}</h1>
<br>
<li>Authors:
{% for author in object.authors.all %}
<!-- A Book class' variable authors is ManyToManyField -->
    <a href="{% url 'books:author_detail' author.id %}">{{ author }}</a>
    {% if not forloop.last %}
    <!-- if more than 2 authors -->
        ,
    {% else %}
    {% endif %}
{% endfor %}
</li>
<li>Publisher: <a href="{% url 'books:publisher_detail' object.id %}">{{ object.publisher }}</a></li>
<li>Publication date: {{ object.publication_date }}</li>
{% endblock content %}